{% extends 'myApp/base.html' %}
{% block content %}
{% load static %}

<div class="wrapper">
    <main class="main-content">
        <!--== Start Page Header Area Wrapper ==-->
        <div class="page-header-area" style="background-image: url({% static 'assets/img/photos/1920x390.png' %});">

    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title" data-aos="fade-down" data-aos-duration="1000">Login</h2>
            <nav class="breadcrumb-area" data-aos="fade-down" data-aos-duration="1200">
              <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Login</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->
  
  <!--== Start My Account Area Wrapper ==-->
  <section class="account-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 m-auto">
          <div class="section-title text-center">
            <h2 class="title">Login</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="login-form-content">
            {% if messages %}
              <div class="alert alert-warning">
                {% for message in messages %}
                  <p>{{ message }}</p>
                {% endfor %}
              </div>
            {% endif %}
            <form method="POST" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label for="username">Username or email address <span class="required">*</span></label>
                    <input id="username" class="form-control" type="text" name="username" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <label for="password">Password <span class="required">*</span></label>
                    <input id="password" class="form-control" type="password" name="password" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <button type="submit" class="btn-login">Login</button>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group account-info-group mb--0">
                    <div class="rememberme-account">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember_me" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">Remember me</label>
                      </div>
                    </div>
                    <a class="lost-password" href="{% url 'password_reset' %}">Lost your password?</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

    </main>
    
</div>

{% endblock %}